

/* .baloo-bhai-2-<uniquifier> {
  font-family: "Baloo Bhai 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
.food-items-div{
    background-color: beige;
}


.food-items{

    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: -71px;
    margin-left: 90px;
    border: 8px solid rgb(255, 254, 254);
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 .2px 2px rgba(black, .75);
}
    
img{
    border-radius: 5px;
    width: 250px;
    height: 250px;
transition: all 1s ease 0s;
}
img:hover{
    width: 270px;
    height: 270px;
}
.food-item-element{

    margin: 0px;
    padding-bottom: 2px;
    text-align: left;
    font-size: large;
   background-color: white;
   

}
.star{
    text-align: center;
}
.star-div{
    /* text-align: center; */
    font-size: xx-large;
    color: red;
}